<!DOCTYPE html>
<!-- This website template was created by: Matt Ingold -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Blue Mountain Bead Co.</title>
	<meta charset="utf-8">
</head>
<body>

	<div id="container">

	<!-- Use the header area for the website name or logo -->
	<header>
		<a href="index.html"><img src="images/bmbc_logo.png" alt="BMBC logo" height="275" width="845"></a>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html">About Us</a> &nbsp; &nbsp;
		<a href="products.html">Products</a> &nbsp; &nbsp;
		<a href="purchase.html">How to Buy</a> &nbsp; &nbsp;
		<a href="updates.html">Updates</a> &nbsp; &nbsp;
		<a href="contact.html">Contact</a>
	</nav>
	
	<!-- Use the main area to add the main content of the webpage -->
	<main>
	</main>
	
	<!-- Use the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.<br>
		<a href="mailto: forwardfitness@club.net">AylssaR@bmbc.net</a>
	</footer>
	
	</div>
	
</body>
</html>